<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Game Maker{% endblock %}</title>


  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"/>


  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav>
    <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('how_to_use') }}">How to Use</a></li>
    <li><a href="{{ url_for('predict') }}">Prediction</a></li>
    <li><a href="{{ url_for('methodology') }}">Methodology</a></li>
    </ul>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
