<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Game Maker{% endblock %}</title>


  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"/>


  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>

  {% block head %}{% endblock %}
</head>
<body>
  <nav>
    <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('how_to_use') }}">How to Use</a></li>
    <li><a href="{{ url_for('predict') }}">Prediction</a></li>
    <li><a href="{{ url_for('matchups') }}">Matchups</a></li>
    <li><a href="{{ url_for('stats') }}">Stats</a></li>
    <li><a href="{{ url_for('methodology') }}">Methodology</a></li>
    <li><a href="{{ url_for('glossary') }}">Glossary</a></li>
    
    </ul>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
