{% extends "layout.html" %}
{% block title %}Methodology - Game Maker{% endblock %}

{% block content %}
  <div class="methodology-content" style="padding: 2em; max-width: 800px; margin: auto; font-family: 'Montserrat', sans-serif;">
    <h1>Our Methodology</h1>
    
    <p>
     Insert info here
    </p>
    
    <h2>Machine Learning Models</h2>
    <p>
        Insert info here
    </p>
    
    <h2>Statistical Analysis</h2>
    <p>
        Insert info here
    </p>
    
  </div>
{% endblock %}
