{% extends "layout.html" %}
{% block title %}Prediction - Game Maker{% endblock %}

{% block content %}
<div class="main-content" style="font-family: 'Montserrat', sans-serif; display: flex; gap: 2em; justify-content: center; margin-top: 2em;">


  <div style="width: 60%; min-width: 300px;">
    <label for="date-select" style="font-weight: 600;">SELECT DATE</label>
    <div style="display: flex; gap: 1em; margin-bottom: 1em; margin:auto ;">
      <input 
        type="date" 
        name="game_date" 
        id="date-select" 
        required 
        style="flex-grow: 1; padding: 10px; font-size: 1em; border: 1px solid #ccc; border-radius: 4px; max-width: 200px;"
      >
      <button type="button" onclick="retrieveGames()" style="
        padding: 10px 16px;
        background-color: #1D428A;
        color: white;
        font-weight: 600;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      ">RETRIEVE</button>
      <button type="button" onclick="predictGames()"style="
        padding: 10px 16px;
        background-color: #1D428A;
        color: white;
        font-weight: 600;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      "
      >PREDICT</button>
    </div>


    <div id="games-table-container" style="margin-top:30px; max-height: 400px; overflow-y: auto;"></div>
    <div id="predictions-table-container" style="margin-top:30px; max-height: 400px; overflow-y: auto;"></div>
    <div id="stats-table-container" style="margin-top:30px; max-height: 400px; overflow-y: auto;"></div>
  </div>

  
<script>
  function retrieveGames() {
    const date = document.getElementById("date-select").value;

    if (!date) {
      alert("Please select a date.");
      return;
    }

    fetch('/get_games', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ selected_date: date })
    })
    .then(res => res.json())
    .then(data => {
      const container = document.getElementById("games-table-container");
      if (data.games.length === 0) {
        container.innerHTML = "<p>No games found.</p>";
        return;
      }

      let tableHTML = `
        <table style="
          width: 100%;
          border-collapse: collapse;
          font-family: 'Montserrat', sans-serif;
          box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        "
          id="games-table"
        >
          <caption style="font-weight: 600; font-size= 1em"> Season ${data.season}: Upcoming Games as of ${date}</caption>
          <thead>
            <tr style="background-color: #1D428A; color: white;">
              <th style="padding: 12px; border: 1px solid #ddd;">Home</th>
              <th style="padding: 12px; border: 1px solid #ddd;">Home W–L</th>
              <th style="padding: 12px; border: 1px solid #ddd;">Away</th>
              
              <th style="padding: 12px; border: 1px solid #ddd;">Away W–L</th>
            </tr>
          </thead>
          <tbody>
      `;

      data.games.forEach(game => {
        tableHTML += `
          <tr style="background-color: #f9f9f9;">
            <td style="padding: 12px; border: 1px solid #ddd;">${game.home}</td>
            <td style="padding: 12px; border: 1px solid #ddd;">${game.home_record}</td>
            <td style="padding: 12px; border: 1px solid #ddd;">${game.away}</td>
            
            <td style="padding: 12px; border: 1px solid #ddd;">${game.away_record}</td>
          </tr>
        `;
      });

      tableHTML += `</tbody></table>`;
      container.innerHTML = tableHTML;

      const confusionMatrix = document.getElementById('predictions-table-container')
      confusionMatrix.innerHTML = ''
      const statsTable = document.getElementById('stats-table-container')
      statsTable.innerHTML = ''
    })
    .catch(err => {
      console.error(err);
      alert("Failed to retrieve games.");
    });
  };

  
  function predictGames() {
    const date = document.getElementById("date-select").value;

    if (!date) {
      alert("Please select a date.");
      return;
    }

    fetch('/get_predictions', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ selected_date: date })
    })
    .then(res => res.json())
    .then(data => {
      const container = document.getElementById("games-table-container");
      if (data.games.length === 0) {
        container.innerHTML = "<p>No games found.</p>";
        return;
      }
      
      let tableHTML = `
        <table style="
          width: 100%;
          border-collapse: collapse;
          font-family: 'Montserrat', sans-serif;
          box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        "
          id="games-table"
        >
          <caption style="font-weight: 600; font-size= 1em"> Season ${data.season}: Upcoming Games as of ${date}</caption>
          <thead>
            <tr style="background-color: #1D428A; color: white;">
              <th style="padding: 12px; border: 1px solid #ddd;">Home</th>
              <th style="padding: 12px; border: 1px solid #ddd;">Home W–L</th>
              <th style="padding: 12px; border: 1px solid #ddd;">Away</th>
              <th style="padding: 12px; border: 1px solid #ddd;">Away W–L</th>
              <th style="padding: 12px; border: 1px solid #ddd;">Predicted Winner</th>
              <th style="padding: 12px; border: 1px solid #ddd;">Actual Winner</th>
            </tr>
          </thead>
          <tbody>
      `;

      data.games.forEach(game => {
        tableHTML += `
          <tr style="background-color: #f9f9f9;">
            <td style="padding: 12px; border: 1px solid #ddd;">${game.home}</td>
            <td style="padding: 12px; border: 1px solid #ddd;">${game.home_record}</td>
            <td style="padding: 12px; border: 1px solid #ddd;">${game.away}</td>
            <td style="padding: 12px; border: 1px solid #ddd;">${game.away_record}</td>
            <td style="padding: 12px; border: 1px solid #ddd;">${game.prediction}</td>
            <td style="padding: 12px; border: 1px solid #ddd;">${game.winner}</td>
          </tr>
        `;
      });

      tableHTML += `</tbody></table>`;
      container.innerHTML = tableHTML;

      const confusionMatrix = document.getElementById('predictions-table-container')

      let cmHTML = `
        <table style="
          width: 100%;
          border-collapse: collapse;
          font-family: 'Montserrat', sans-serif;
          box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        "
          id="games-table"
        >
          <caption style="font-weight: 600; font-size= 1em"> Confusion Matrix </caption>
          <thead>
            <tr style="background-color: #1D428A; color: white;">
              <td style="background-color: #f9f9f9;"></td>
              <th style="padding: 12px; border: 1px solid #ddd;">Predicted Home Win</th>
              <th style="padding: 12px; border: 1px solid #ddd;">Predicted Home Loss</th>
            </tr>
          </thead>
          <tbody>
            <tr style="background-color: #1D428A;">
              <th style="padding: 12px; border: 1px solid #ddd;  color: white;">Actual Home Win</th>
              <td style="padding: 12px; border: 1px solid #ddd; background-color: #f9f9f9;">${data.confusion_matrix[0][0]}</td>
              <td style="padding: 12px; border: 1px solid #ddd; background-color: #f9f9f9;">${data.confusion_matrix[0][1]}</td>
            </tr>
            <tr style="background-color: #1D428A;">
              <th style="padding: 12px; border: 1px solid #ddd;  color: white;">Actual Home Loss</th>
              <td style="padding: 12px; border: 1px solid #ddd; background-color: #f9f9f9;">${data.confusion_matrix[1][0]}</td>
              <td style="padding: 12px; border: 1px solid #ddd; background-color: #f9f9f9;">${data.confusion_matrix[1][1]}</td>
            </tr>
          </tbody>
      `
      confusionMatrix.innerHTML = cmHTML

      const statsTable = document.getElementById('stats-table-container')
      let statsHTML = `
        <table style="
          width: 100%;
          border-collapse: collapse;
          font-family: 'Montserrat', sans-serif;
          box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        "
          id="games-table"
        >
          <caption style="font-weight: 600; font-size= 1em"> Prediction Stats </caption>
          <thead>
            <tr style="background-color: #1D428A; color: white;">
              <th style="padding: 12px; border: 1px solid #ddd;">Accuracy %</th>
              <th style="padding: 12px; border: 1px solid #ddd;">Recall %</th>
              <th style="padding: 12px; border: 1px solid #ddd;">Precision %</th>
              <th style="padding: 12px; border: 1px solid #ddd;">F1</th>
            </tr>
          </thead>

          <tbody>
            <tr style="background-color: #f9f9f9;">
              <td style="padding: 12px; border: 1px solid #ddd;">${data.stats.final_acc}%</td>
              <td style="padding: 12px; border: 1px solid #ddd;">${data.stats.final_recall}%</td>
              <td style="padding: 12px; border: 1px solid #ddd;">${data.stats.final_precision}%</td>
              <td style="padding: 12px; border: 1px solid #ddd;">${data.stats.final_f1}</td>
            </tr>
          </tbody>
      `;
      console.log(data.stats.final_acc)
      statsTable.innerHTML = statsHTML

    })
    .catch(err => {
      console.error(err);
      alert("Failed to retrieve games.");
    });

  };
  </script>
{% endblock %}
