{% extends "layout.html" %}
{% block title %}Prediction - Game Maker{% endblock %}

{% block content %}
<div class="main-content" style="font-family: 'Montserrat', sans-serif; display: flex; flex-direction: row; gap: 2em; justify-content: center; margin-top: 2em; margin-bottom: 6em;">


  <!-- Input section -->
<div style="display: flex; flex-direction: column; gap: 1em; justify-items: center;">
    <label for="start-date" style="font-weight: 600;">Start Date</label>
    <input 
      type="date" 
      id="start-date"
      style="padding: 10px; font-size: 1em; border: 1px solid #ccc; border-radius: 4px;"
      required
    >

    <label for="end-date" style="font-weight: 600;">End Date (Maximum of 5 days)</label>
    <input 
      type="date" 
      id="end-date"
      style="padding: 10px; font-size: 1em; border: 1px solid #ccc; border-radius: 4px;"
      required
    >
<label for="league-select" style="font-weight: 600;align-content: center;">Select League</label>
    <select name="league-select" id="league-select" style="
      padding: 10px 16px;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      font-weight: 600;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
    ">
      <option value="NBA">NBA</option>
      <option value="NCAAMB_D1">NCAA Men's</option>
    </select>
<label for="model-select" style="font-weight: 600;align-content: center;">Select Prediction Method</label>
    <select name="model-select" id="model-select" style="
      padding: 10px 16px;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      font-weight: 600;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
    ">
      <option value="deterministic">No simulation</option>
      <option value="simulation">Simulation</option>
    </select>
    
<button type="button" id="retrieve-button" onclick="retrieveGamesRange()" style="
  padding: 10px 16px;
  background-color: #1D428A;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
">
  RETRIEVE
</button>

<button type="button" id="predict-button" onclick="predictGames()" style="
  padding: 10px 16px;
  background-color: #1D428A;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
">
  PREDICT
</button>
</div>



<!-- Game output goes here -->
<div style="display: flex; flex-direction: column; gap: .5em; justify-items: center; min-width: 60%;">
  <h3 id="header-div" style="align-content: center; border-bottom: solid 1px; min-width: 60%">0 Games Shown</h3>
  <div id="games-table-container" style="margin-top:30px; max-height: 400px; overflow-y: auto;">Select Games...</div>
  <div id="predictions-table-container" style="margin-top:30px; max-height: 400px; overflow-y: auto;"></div>
  <div id="stats-table-container" style="margin-top:30px; max-height: 400px; overflow-y: auto;"></div>
</div>
</div>

<script>

  function retrieveGamesRange() {
    const startDateStr = document.getElementById('start-date').value;
    const endDateStr = document.getElementById('end-date').value;
    const league = document.getElementById("league-select").value;
    const retrieveButton = document.getElementById("retrieve-button")
    retrieveButton.textContent = 'Loading...'

    if (!startDateStr || !endDateStr) {
      retrieveButton.textContent = 'Retrieve';
      alert('Please select both start and end dates.');
      return;
    }

    const startDate = new Date(startDateStr);
    const endDate = new Date(endDateStr);

    const diffDays = (endDate - startDate) / (1000 * 3600 * 24) + 1;
    if (endDate < startDate) {
      retrieveButton.textContent = 'Retrieve';
      alert('End date cannot be before start date.');
      return;
    }
    if (diffDays > 5) {
      retrieveButton.textContent = 'Retrieve';
      alert('Date range cannot be more than 5 days.');
      return;
    }

    const dates = [];
    for (let i = 0; i < diffDays; i++) {
      const d = new Date(startDate);
      d.setDate(startDate.getDate() + i);
      dates.push(d.toISOString().slice(0, 10));
    }

    fetch('/get_games_range', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ selected_dates: dates, selected_league: league})
    })
    .then(res => res.json())
    .then(data => {
      const container = document.getElementById('games-table-container');
      if (!data.games || Object.keys(data.games).length === 0) {
        container.innerHTML = '<p>No games found for this date range.</p>';
        retrieveButton.textContent = "Retrieve"
        return;
      }

      
      let total_games = 0;
      
      container.innerHTML = '';
      for (const [date, games] of Object.entries(data.games)) {
        const heading = document.createElement('h3');
        heading.textContent = `Games on ${date}`;
        heading.style.cssText = "margin-top: 20px; font-weight: 600; align-self: center;";
        container.appendChild(heading);


        const table = document.createElement('table');
        table.id = `table-${date}`
        table.style.cssText = "width: 100%; border-collapse: collapse; font-family: 'Montserrat', sans-serif; box-shadow: 0 4px 8px rgba(0,0,0,0.1); margin-bottom: 20px;";


        const thead = document.createElement('thead');
        thead.innerHTML = `
          <tr style="background-color: #1D428A; color: white;">
            <th style="padding: 12px; border: 1px solid #ddd;"><input type="checkbox" id="checkAll${date}"></th>
            <th style="padding: 12px; border: 1px solid #ddd;">Home</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Home W–L</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Away</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Away W–L</th>
          </tr>
        `;
        table.appendChild(thead);

        const tbody = document.createElement('tbody');

        games.forEach(game => {
          const row = document.createElement('tr');
          row.id = game.id
          row.style.backgroundColor = '#f9f9f9';
          row.innerHTML = `
            <td style="padding: 12px; border: 1px solid #ddd;"><input type="checkbox" class="row-checkbox${date}"></td>
            <td id="${game.home_id}" style="padding: 12px; border: 1px solid #ddd;">${game.home}</td>
            <td style="padding: 12px; border: 1px solid #ddd;">${game.home_record}</td>
            <td id="${game.away_id}" style="padding: 12px; border: 1px solid #ddd;">${game.away}</td>
            <td style="padding: 12px; border: 1px solid #ddd;">${game.away_record}</td>
          `;
          tbody.appendChild(row);
          total_games++;
        });
        

        table.appendChild(tbody);
        container.append(table);
        

        document.getElementById(`checkAll${date}`).addEventListener('change', function () {
          const checkboxes = document.querySelectorAll(`.row-checkbox${date}`);
          checkboxes.forEach(cb => cb.checked = this.checked);
        });


      }
      retrieveButton.textContent = 'Retrieve';
      const confusionMatrix = document.getElementById("predictions-table-container");
      confusionMatrix.innerHTML = '';

      const statsTable = document.getElementById('stats-table-container');
      statsTable.innerHTML = '';

      const headerDiv = document.getElementById("header-div");
      headerDiv.textContent = `${total_games} Games Shown`;

    })
    .catch(err => {
      retrieveButton.textContent = 'Retrieve';
      console.error(err);
      alert('Failed to retrieve games.');
    });
  }


  function predictGames() {
    const startDateStr = document.getElementById('start-date').value;
    const endDateStr = document.getElementById('end-date').value;
    const league = document.getElementById("league-select").value;
    const model = document.getElementById("model-select").value;
    const predButton = document.getElementById("predict-button");
    predButton.textContent = "Loading..."

    // get date range from selected date
    const startDate = new Date(startDateStr);
    const endDate = new Date(endDateStr);
    const diffDays = (endDate - startDate) / (1000 * 3600 * 24) + 1;

    if (endDate < startDate) {
      predButton.textContent = "PREDICT"
      alert('End date cannot be before start date.');
      return;
    }

    if (diffDays > 5) {
      predButton.textContent = "PREDICT"
      alert('Date range cannot be more than 5 days.');
      return;
    }

    const dates = [];
    for (let i = 0; i < diffDays; i++) {
      const d = new Date(startDate);
      d.setDate(startDate.getDate() + i);
      dates.push(d.toISOString().slice(0, 10));
    }

    const selectedGames = {};
    const rowData = {};
    for (let i = 0; i < dates.length; i++) {
      let table = document.getElementById(`table-${dates[i]}`);
      let checkedBoxes = document.querySelectorAll(`.row-checkbox${dates[i]}:checked`);
      if (checkedBoxes.length > 0) {
        selectedGames[dates[i]] = []
        rowData[dates[i]] = []
      }

      

      checkedBoxes.forEach(box => {
        const row = box.closest('tr');
        const cells = row.querySelectorAll('td');

        // Push the home and away team IDs
        selectedGames[dates[i]].push(cells[1].id);
        selectedGames[dates[i]].push(cells[3].id);
        
        rowData[dates[i]].push({
          'home': row.cells[1].textContent,
          'home_record': row.cells[2].textContent,
          'away': row.cells[3].textContent,
          'away_record': row.cells[4].textContent,
          'home_id': row.cells[1].id,
          'away_id': row.cells[3].id,
        });
      })
    }
    
    if (Object.keys(selectedGames).length == 0) {
      predButton.textContent = "PREDICT";
      alert("No games selected");
      return;
    }
    

    fetch('/get_predictions_range', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ selected_games: selectedGames, selected_league: league, selected_model: model })
    })
    .then(res => res.json())
    .then(data => {
      const container = document.getElementById('games-table-container');
      if (!data.games || Object.keys(data.games).length === 0) {
        container.innerHTML = '<p>No predictions available.</p>';
        predButton.textContent = "Predict";
        return;
      }

      let total_games = 0;
      container.innerHTML = '';
      for (const [date, games] of Object.entries(data.games)) {
        const heading = document.createElement('h3');
        heading.textContent = `Games on ${date}`;
        heading.style.cssText = "margin-top: 20px; font-weight: 600; align-self: center;";
        container.appendChild(heading);


        const table = document.createElement('table');
        table.style.cssText = "width: 100%; border-collapse: collapse; font-family: 'Montserrat', sans-serif; box-shadow: 0 4px 8px rgba(0,0,0,0.1); margin-bottom: 20px;";


        const thead = document.createElement('thead');
        thead.innerHTML = `
          <tr style="background-color: #1D428A; color: white;">
            <th style="padding: 12px; border: 1px solid #ddd;"><input type="checkbox" id="checkAll${date}"></th>
            <th style="padding: 12px; border: 1px solid #ddd;">Home</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Home W–L</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Away</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Away W–L</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Prediction</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Winner</th>
          </tr>
        `;
        table.appendChild(thead);

        const tbody = document.createElement('tbody');

        for (let i = 0; i < games.length; i++) {
          const row = document.createElement('tr');
          row.style.backgroundColor = '#f9f9f9';
          row.innerHTML = `
            <td style="padding: 12px; border: 1px solid #ddd;"><input type="checkbox" class="row-checkbox${date}"></td>
            <td id="${rowData[date][i].home_id}" style="padding: 12px; border: 1px solid #ddd;">${rowData[date][i].home}</td>
            <td style="padding: 12px; border: 1px solid #ddd;">${rowData[date][i].home_record}</td>
            <td id="${rowData[date][i].away_id}" style="padding: 12px; border: 1px solid #ddd;">${rowData[date][i].away}</td>
            <td style="padding: 12px; border: 1px solid #ddd;">${rowData[date][i].away_record}</td>
            <td style="padding: 12px; border: 1px solid #ddd;">${games[i][0]}</td>
            <td style="padding: 12px; border: 1px solid #ddd;">${games[i][1]}</td>
          `;
          tbody.appendChild(row);
          total_games++;
        }
        

        table.appendChild(tbody);
        container.append(table);

        document.getElementById(`checkAll${date}`).addEventListener('change', function () {
          const checkboxes = document.querySelectorAll(`.row-checkbox${date}`);
          checkboxes.forEach(cb => cb.checked = this.checked);
        });
      }

      
      const headerDiv = document.getElementById("header-div");
      headerDiv.textContent = `${total_games} Games Shown`;
      predButton.textContent = "Predict";


      const confusionMatrix = document.getElementById('predictions-table-container');
      confusionMatrix.innerHTML = `
        <table style="
          width: 100%;
          border-collapse: collapse;
          font-family: 'Montserrat', sans-serif;
          box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        "
          id="games-table"
        >
          <caption style="font-weight: 600; font-size= 1em"> Confusion Matrix </caption>
          <thead>
            <tr style="background-color: #1D428A; color: white;">
              <td style="background-color: #f9f9f9;"></td>
              <th style="padding: 12px; border: 1px solid #ddd;">Predicted Home Win</th>
              <th style="padding: 12px; border: 1px solid #ddd;">Predicted Home Loss</th>
            </tr>
          </thead>
          <tbody>
            <tr style="background-color: #1D428A;">
              <th style="padding: 12px; border: 1px solid #ddd;  color: white;">Actual Home Win</th>
              <td style="padding: 12px; border: 1px solid #ddd; background-color: #f9f9f9;">${data.confusion_matrix[0][0]}</td>
              <td style="padding: 12px; border: 1px solid #ddd; background-color: #f9f9f9;">${data.confusion_matrix[0][1]}</td>
            </tr>
            <tr style="background-color: #1D428A;">
              <th style="padding: 12px; border: 1px solid #ddd;  color: white;">Actual Home Loss</th>
              <td style="padding: 12px; border: 1px solid #ddd; background-color: #f9f9f9;">${data.confusion_matrix[1][0]}</td>
              <td style="padding: 12px; border: 1px solid #ddd; background-color: #f9f9f9;">${data.confusion_matrix[1][1]}</td>
            </tr>
          </tbody>
      `;
      
      const statsTable = document.getElementById('stats-table-container');
      statsTable.innerHTML = `
        <table style="
          width: 100%;
          border-collapse: collapse;
          font-family: 'Montserrat', sans-serif;
          box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        "
          id="games-table"
        >
          <caption style="font-weight: 600; font-size= 1em"> Prediction Stats </caption>
          <thead>
            <tr style="background-color: #1D428A; color: white;">
              <th style="padding: 12px; border: 1px solid #ddd;">Accuracy %</th>
              <th style="padding: 12px; border: 1px solid #ddd;">Recall %</th>
              <th style="padding: 12px; border: 1px solid #ddd;">Precision %</th>
              <th style="padding: 12px; border: 1px solid #ddd;">F1</th>
            </tr>
          </thead>

          <tbody>
            <tr style="background-color: #f9f9f9;">
              <td style="padding: 12px; border: 1px solid #ddd;">${data.stats.final_acc}%</td>
              <td style="padding: 12px; border: 1px solid #ddd;">${data.stats.final_recall}%</td>
              <td style="padding: 12px; border: 1px solid #ddd;">${data.stats.final_precision}%</td>
              <td style="padding: 12px; border: 1px solid #ddd;">${data.stats.final_f1}</td>
            </tr>
          </tbody>
      `;
      

      
    })
    .catch(err => {
      predButton.textContent = "Predict"
      console.error(err);
      alert('Failed to retrieve predictions.');
    });
  }
</script>

{% endblock %}

